body {
    background: #333333;
}

.btn {
position: absolute;
top: 40%;
left: 50%;
transform: translate(-50%, -50%);
cursor: pointer;
width: 200px;
height: 200px;
font-size: 60px;
outline: none;/*solicite plusieurs proprété associé avec border pour enlever ses attribues de bases*/
border: none;
display: flex;
justify-content:center;
align-items: center;
border-radius: 50px;
background: #333333;
box-shadow: 5px 5px 10px #202020, /*ombre du bas*/
-5px -5px 10px #464646;/*ombre du haut*/
}